.sigInSection {
    width: 100%;
    @include flex();

    .sigInContent {
        max-width: $content-width;
        @include flex();
        flex-direction: column;
        @include route-content();
    }
}