.inputContainer {
  @include flex(flex-start, flex-start);
  flex-direction: column;
  height: 58px;
  width: 668px;

  label {
    @include flex(flex-start, center);
  }

  input {
    &.inputError {
      background-color: rgba(var(--color-error), 0.8);
    }

    &.inputSearch {
      height: 48px;
      max-width: 80%;
      padding: 5px 24px 5px 24px;
      border-radius: 25px;
      background-color: var(--color-border);
      border: none;
    }
  }

  .inputErrorMessage {
    color: var(--color-error);
  }
}
