.container-template-product {
  @include flex(center, center);

  margin: 40px 40px 80px 40px;

  .galeria-product {
    @include flex(center, center, column);
    height: 114px;
    width: 114px;
    border-radius: 15px;
    margin: 15px;
  }

  .img-producto {
    height: 721px;
    width: 721px;
    border-radius: 20px;
  }

  h3 {
    font-size: 34px;
    margin-bottom: 10px;
  }

  .contrainer-description-buttons {
    @include flex(center, flex-start, column);
    width: 433px;
    margin: 0px 15px;

    .price-product {
      color: var(--color-secundario);
      font-size: 28px;
      font-weight: 700;
      margin: 15px 0;
    }

    .container-botones {
      @include flex(center, center);

      margin: 10px;

      .container-btns-contador {
        @include flex(center, center);
        border: 1px solid var(--color-secundario);
        padding: 12px;
        height: 45px;
        width: 128px;
        border-radius: 10px;

        .btns-contador {
          background: none;
          color: var(--color-secundario);
          height: auto;
          width: auto;
          font-size: 12px;
          padding: 5px 10px;
          margin: 0;
          cursor: pointer;

          .icon-minus-plus {
            height: 24px;
            width: 24px;
            color: var(--color-primario);
          }
        }
      }

      .button-agregar {
        height: 44px;
        width: 270px;

        background-color: var(--color-secundario);
        font-size: 13px;
        letter-spacing: 2px;
        font-weight: 700;

        color: var(--color-white);
        cursor: pointer;
      }
    }
  }

  p {
    color: var(--color-primario);
  }
}
