:root {
    --color-primario: #ae5a7b;
    --color-secundario: #d294a4;
    --color-white: #ffffff;
    --color-black: #000000;
    --color-texto: #1e281d;
    --color-error: #db3e3e;
    --color-border: #f1efeb;
}

$content-width: 550px;
$break-mobile: 430px;
$fontFamily: "Montserrat", sans-serif;
