:root {
    --primaryColor: #3d1c33;
    --color-primario: #32a9bd;
    --color-secundario: #71b5dc;
    --color-base: #ffffff;
    --color-texto: #1e281d;
    --color-error: #db3e3e;
    --color-border: #f1efeb;
}