.container-btn-profile {

    padding-right: 25px;
  }
  
  .btn-profile {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
  }
  
  img {
    width: 28px;
    height: 28px;
  }
  