.containerNavbar {
  min-height: 80px;
  width: 100%;
  border: 1px solid var(--color-primario);
  background-color: var(--color-black);

  .containerNavbarPrimary {
    @include flex(space-between, center);
    margin: 15px 0 10px 0;

    .containerIcon {
      padding-left: 25px;

      .imageIcono {
        height: 48px;
        width: 48px;
        background-color: var(--color-white);
        border-radius: 50%;
      }
    }

    .iconProfile {
      width: 28px;
      height: 28px;
    }

    .btns-primary-navbar {
      @include flex(flex-end, center);
    }
  }

  .containerNavbarSecondary {
    border-top: 1px solid var(--color-white);

    .containerOptions {
      @include flex(center, center);

      ul {
        @include flex(center, center);
        gap: 5px;
        text-decoration: none;

        li {
          list-style-type: none;

          a {
            text-decoration: none;
            color: var(--color-white);
            @include font(14);
          }
        }
      }
    }
  }
}
