header {
  .navbar {
    width: 100%;
    background-color: var(--color-primario, 0.3);
    position: relative;
    z-index: 1000;

    .navbarContainer {
      max-width: 1200px;
      margin: 0 auto;
      @include flex(space-between, center);
      padding: 0.5rem 2rem;

      .navbarBrand {
        @include flex(center, center);
        width: auto;

        .imageIcono {
          width: 40px;
          height: 40px;
        }
      }

      .toggleButton {
        @include flex(center, center);
        font-size: 1.5rem;
        background: none;
        border: none;
        cursor: pointer;
        width: auto;
        color: var(--color-white);
        display: none;

        &:focus {
          outline: none;
        }
      }
    }
  }

  .offcanvas {
    position: fixed;
    top: 0;
    right: -300px;
    width: 300px;
    height: 100%;
    background-color: var(--color-white);
    transition: right 0.3s ease;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
    z-index: 1004;
    padding: 1rem;

    &.show {
      right: 0;
    }

    .closeButton {
      background-color: transparent;
      border: none;
      font-size: 1.5rem;
      cursor: pointer;
      color: var(--color-black);
    }

    .menu {
      display: flex;
      flex-direction: column;
      margin-top: 2rem;

      span {
        a {
          color: var(--color-primario);
          text-decoration: none;
          @include font(14);
        }
      }
    }
  }

  .backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1003;
  }
}

@media screen and (max-width: 720px) {
  header {
    .navbar {
      .navbarContainer {
        .toggleButton {
          display: flex;
        }
      }

      .menu {
        display: none;
      }
    }
  }
}
