.containerNavbar {
  min-height: 80px;
  width: 100%;
  border: 1px solid var(--color-primario);
  background-color: var(--color-primario);

  .containerNavbarPrimary {
    @include flex(space-between, center);
    margin: 15px 0 10px 0;

    .containerIcon {
      padding: 0 0 0 25px;

      .imageIcono {
        height: 64px;
        width: 64px;
        background-color: var(--color-white);
        border-radius: 50%;
      }
    }
    .btns-primary-navbar {
      
    }
    
  }

  .containerNavbarSecondary {
    border-top: 1px solid var(--color-white);

    .containerOptions {
      @include flex(center, center);

      ul {
        @include flex(center, center);
        gap: 25px;
        text-decoration: none;

        li {
          list-style-type: none;

          a {
            text-decoration: none;
            color: var(--color-white);
            @include font(14);
          }
        }
      }
    }
  }
}
