*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container-navbar {
    height: 131px;
    width: 100%;
    border: 1px solid var(--color-primario);

    background-color: var(--color-primario);

    .container-navbar-primary {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin: 15px 0 10px 0;

        .container-icon {
            padding-left: 25px;
    
            .image-icono {
                height: 48px;
                width: 48px;
                background-color: var(--color-base);
                border-radius: 50%;
            }
        }

        .icon-profile{
            width: 28px;
            height: 28px;

        }
    }

    .container-navbar-secondary {
        border-top: 1px solid var(--color-base);

        .container-options{

            display: flex;
            justify-content: center;
            align-items: center;
        }

        p{
            margin: 15px 10px;
            color: var(--color-base);
        }
    }


}
