.inputContainer {
  @include flex(flex-start, flex-start);
  flex-direction: column;
  height: auto;
  width: 100%;
  max-width: $content-width;

  label {
    @include flex(flex-start, center);
  }

  input {
    width: 100%;
    border-radius: 4px;
    height: 48px;

    &:focus {
      border: 1px solid var(--color-primario);
    }

    &:hover {
      border: 1px solid var(--color-primario);

    }

    &.inputError {
      background-color: rgba(var(--color-error), 0.8);
    }

    &.inputSearch {
      padding: 5px 24px 5px 24px;
      background-color: var(--color-border);
      border: none;
    }
  }

  .inputErrorMessage {
    color: var(--color-error);
  }
}
