footer {
  background-color: rgba(210, 148, 164, 0.3);
  color: var(--color-primario);
  padding: 16px;

  .containerFooter {
    @include flex($justify: space-between, $align: center, $direction: row); 
    
    .containerIcono {
      .iconoMarca {
        height: 64px;
        width: 64px;
      }
    }

    .containerContactos {
      h3 {
        font-size: 20px;
      }
      p {
        font-size: 14px;
        color: var(--color--secundario);
      }
    }

    .containerRedes {

      h3 {
        font-size: 20px;
      }
      p {
        font-size: 14px;
        color: var(--color--secundario);
      }

      .iconRedes {
        height: 45px;
        width: 45px;
        margin: 5px;
      }
    }
  }

  @media (max-width: 650px) {
    .containerFooter {
      flex-direction: column; 
      align-items: center; 
      justify-content: center; 
      gap: 20px; 
      height: 100%; 
      text-align: center; 
    }

    .containerIcono {
      margin: 0; 
      margin-bottom: 20px; 
    }

    .containerContactos,
    .containerRedes {
      margin: 0; 
    }

    .containerRedes {
      margin-bottom: 20px; 
    }
  }
}
