.adminProductsContent {
    @include flex;
    background-color: var(--color-primario);

    form {
        color: var(--color-white);
        max-width: $content-width;
        width: 100%;
        flex-direction: column;
        gap: 20px;
    }
}