.containerBannerInformative {
    background-color: rgba(210, 148, 164, 0.3);
    color: var(--color-primario);
    height: 180px;
    width: 100%;
    margin-top: 20px;
  
    .containerInformative {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 40px; 
      flex-direction: row;
      flex-wrap: wrap;
    }
  
    .iconInformative {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin: 0;
      height: 180px;
      width: 280px;
      text-align: center;
  
      .iconBanner {
        height: 50px;
        width: 50px;
        margin-bottom: 10px;
      }
    }
  
    p {
      color: var(--color-primario);
      font-size: 14px;
      line-height: 20px;
    }
  
    @media (max-width: 960px) and (min-width: 650px) {
      .containerInformative {
        gap: 20px; 
      }
  
      .iconInformative {
        width: 200px; 
        height: 150px; 
      }
  
      .iconBanner {
        height: 40px;
        width: 40px;
      }
  
      p {
        font-size: 12px; 
        line-height: 18px; 
      }
    }
  
    @media (max-width: 650px) {
      .containerInformative {
        flex-direction: column;
        align-items: center;
      }
  
      .iconInformative {
        display: none;
      }
  
      .iconInformative:first-child {
        display: flex;
      }
    }
  }
  